<ion-view view-title="" hide-nav-bar="false">

      <div class="tabs-striped tabs-color-{{customClass}}">
    <div class="tabs">
      <a class="tab-item" href="#/app/business">
        <i class="icon ion-ios-people"></i>
        <p>About</p>
      </a>
      <a class="tab-item active" href="#/app/business-services">
        <i class="icon ion-ios-flask"></i>
        <p>Services</p>
      </a>
      <a class="tab-item" href="#/app/business-portfolio">
        <i class="icon ion-ios-glasses"></i>
        <p>Portfolio</p>
      </a>
      <a class="tab-item" href="#/app/business-contact">
        <i class="icon ion-ios-email"></i>
        <p>Contact</p>
      </a>
    </div>
  </div>
    
    <ion-content class="padding businessScreen">

        <div class="card">
          <div class="item item-text-wrap">
            <h1 class="center logo">{{mainLogo}}'s Services</h1>

            <div class="list">

    <a class="item item-avatar" href="#/app/business-service">
      <img src="{{aboutPicture}}">
      <h2>Service</h2>
      <p>Fully is the best thing that could happen to you.</p>
    </a>
    <a class="item item-avatar" href="#/app/business-service">
      <img src="{{aboutPicture}}">
      <h2>Service</h2>
      <p>Fully is the best thing that could happen to you.</p>
    </a>
    <a class="item item-avatar" href="#/app/business-service">
      <img src="{{aboutPicture}}">
      <h2>Service</h2>
      <p>Fully is the best thing that could happen to you.</p>
    </a>
    <a class="item item-avatar" href="#/app/business-service">
      <img src="{{aboutPicture}}">
      <h2>Service</h2>
      <p>Fully is the best thing that could happen to you.</p>
    </a>
    <a class="item item-avatar" href="#/app/business-service">
      <img src="{{aboutPicture}}">
      <h2>Service</h2>
      <p>Fully is the best thing that could happen to you.</p>
    </a>

</div>
            
        </div>
            
    </div>
        
  </ion-content>
    
        
        
        
        
</ion-view>